body {
    background-color: seagreen;
}

.header {
    color: darkgrey;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

#myPets {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  flex-direction: row;

  }
  
  .card {
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 6px solid darkgray;
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 20px; 
    background: gray;
  }

  .pcard {
    background-color: seagreen;
    border-radius: 10px;
    border: 4px solid darkgray;
    
  }
  
  .card img {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border: #73AD21;
  }

.button {
    background-color: lightslategray;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }

  .myPets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  #instructor-buttons {
    text-align: center; 
  }